* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* Header */

.header-container {
    color: #e5e7eb;
    height: 75vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.navigation-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 20vw 0;
    
}

#logo {
    font-size: 24px;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
    text-align: right;
}

.banner-container {
    display: flex;
    flex: 1 1 0;
    justify-content: space-between;
    gap: 100px;
    margin: 10vh 20vw;
}

.hero-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    row-gap: 10px;
}

#hero {
    font-size: 48px;
    font-weight: 900;
    padding: 0;
    margin: 0;
}

#banner-img {
    background-color: green;
    display: flex;
    width: 900px;
    height: auto;
    justify-content: center;
    align-items: center;
}

#logo, #hero, footer {
    color: #f9faf8;
}

/* Banner */

/* Random Info */

.random-info {
    text-align: center;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    flex: 1;
}

.images {
    display: flex;
    gap: 10px 50px;
    flex-wrap: wrap;
    justify-content: center;
}

.img-container {
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
    width: 160px;
}

.img {
    border: solid #3882f6;
    border-radius: 15px;
    height: 160px;
    width: 160px;
}

#h2-random-info {
    font-weight: 900;
}




/* Quote */

#quote, #h2-random-info {
    font-size: 36px;
    color: #1f2937;
}

#quote {
    font-style: italic;
    background-color: #e5e7eb;
}

/* Call to Action */

/* Footer */

.header-container, footer {
    background-color: #1f2937;
    font-size: 18px;
}

button {
    background-color: #3882f6;    
    height: 40px;
    width: 150px;
    color: #f9faf8;
    font-size: 18px;
    font-weight: bold;
    border-radius: 9px;
    border: none;
}

#button-2 {
    border: solid white;
}