* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    scroll-behavior: smooth;
    
}

/* Header and Banner */

.header-container {
    color: #e5e7eb;
    height: auto;
    display: flex;
    flex-direction: column;
}

.navigation-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 20vw 0;   
}

#logo {
    font-size: 24px;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
    text-align: right;
}

ul a {
    color: #e5e7eb;
    text-decoration: none;
}

.banner-container {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    margin: 10vh 20vw;
    padding: 60px 0;
}

.banner-container p {
    padding: 10px 0 15px;
}

#hero {
    font-size: 48px;
    font-weight: 900;
    padding: 0;
    margin: 0;
}

#banner-img {
    background-color: green;
    display: flex;
    width: 900px;
    height: auto;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#logo, #hero, footer {
    color: #f9faf8;
}

button {
    background-color: #3882f6;    
    height: 40px;
    width: 150px;
    color: #f9faf8;
    font-size: 18px;
    font-weight: bold;
    border-radius: 9px;
    border: none;
}

/* Random Info */

.random-info {
    text-align: center;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    flex: 1;
    padding: 70px 0;
}

.images {
    display: flex;
    gap: 10px 50px;
    flex-wrap: wrap;
    justify-content: center;
}

.img-container {
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
    width: 160px;
}

.img {
    border: solid #3882f6;
    border-radius: 15px;
    height: 160px;
    width: 160px;
}

#h2-random-info {
    font-weight: 900;
}

/* Quote */

.quote-container, #h2-random-info {
    font-size: 36px;
    color: #1f2937;
}

.quote-container {
    font-style: italic;
    font-weight: 300;
    background-color: #e5e7eb;
    height: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 100px 20vw;
    gap: 5px;
}

#author {
    margin-left: auto;
    font-weight: 900;
    font-size: 30px;
}

/* Call to Action */

.call-to-action-container {
    background-color: #3882f6;
    margin: 60px 20vw;
    padding: 50px 80px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    color: #f9faf8;
}

.call-to-action-container p:first-of-type {
    font-size: 24px;
    font-weight: 900;
}

#button-2 {
    border: solid white;
}
/* Footer */

footer {
    text-align: center;
    padding: 50px 0;
}

.header-container, footer {
    background-color: #1f2937;
    font-size: 18px;
}



